{% extends 'base.html' %}

{% block content %}

<div class="media">
  <img src="../media/{{products.product_icon}} " class="align-self-start mr-3" style="width:100;height:100;">
  <div class="media-body">
  <a class="mt-0" href="{{products.url}}">
      <h5>{{products.title}}</h5>
    </a>
  </div>
</div>
<div class="row">
<div class="col-8" >
    <img src="{{products.image.url}}" class="img-fluid"/>
</div>
<div class="col-3" >
    <a href=" ">
    <button class="btn btn-primary btn-lg btn-block">Vote {{products.total_votes}}</button>
    </a>
</div>
</div>
<div class="row">
<div class="col-4" >
    <h3>Posted by {{products.hunter.username}}</h3>
</div>
<div class="col-4 text-right" >
    <h3>{{products.timestamp}}</h3>
</div>
</div>

<div class="row">
<div class="col-8" >
    <p>{{products.product_desc}}</p>
</div>
</div>

</form>
{% endblock %}
